body {
    background: #908c8c;
    color: rgb(20, 2, 2);
}

/* #tasksDone {
    color: #000;
    border: 2px solid blue;
    margin-top: 20px;
    padding-left: 20px;
}

#tasksPending{
    color: #ffff;
    border: 2px solid red;
    margin-top: 20px;
    padding-left: 20px;
} */

.done{
    color: #000;
    border: 2px solid blue;
    margin-top: 20px;
    padding-left: 20px;
}

.pending {
    color: #ffff;
    border: 2px solid red;
    margin-top: 20px;
    padding-left: 20px;
}